* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

header,
section,
footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
}

section,
.container {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #444;
  background-color: #242424;
}

header {
  margin: 0 auto;
  max-width: 1200px;
}

p {
  color: #222;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

h2 {
  color: #999;
  font-size: 3rem;
}

h3 {
  color: #f00;
  font-size: 1.5rem;
}

header,
footer {
  background-color: #242424;
}

footer {
  padding-bottom: 0;
}
footer p {
  color: #fff;
  text-align: center;
}

@media (max-width: 600px) {
  footer p {
    font-size: 1.2rem;
  }
}
@media (min-width: 601px) {
  footer p {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 1200px) {
  body {
    margin: 0 3rem;
  }
}
.blocks h2 {
  color: #222;
  margin-bottom: 2rem;
}
.blocks ul {
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
  flex-wrap: wrap;
}
.blocks li {
  color: #999;
  display: block;
  float: left;
  margin: 1rem 1.5rem;
  width: 30%;
  background-color: #222;
}
.blocks li .img-container {
  display: block;
  overflow: hidden;
  width: 100%;
}
.blocks li a {
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 2.2rem;
  margin: 3rem auto 1.5rem;
  padding: 4px 8px;
}
.blocks li:nth-child(1) {
  margin-left: 0;
}
.blocks li:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  .blocks ul {
    flex-direction: column;
  }
  .blocks li {
    width: 100%;
    margin: 0 0 1rem 0;
    height: auto;
  }
}
@media (min-width: 601px) {
  .blocks li {
    width: 45%;
    height: 270px;
  }
  .blocks li .img-container img {
    height: 190px;
  }
  .blocks li:nth-child(2) {
    margin-right: 0;
  }
  .blocks li:nth-child(3) {
    margin-left: 0;
  }
}
@media (min-width: 900px) {
  .blocks li {
    width: 30%;
    height: 270px;
  }
  .blocks li .img-container img {
    height: 190px;
  }
  .blocks li:first-child {
    margin-right: 0;
  }
  .blocks li:nth-child(2) {
    margin-left: 0;
  }
}
.cars h2 {
  color: #999;
  margin-top: 2rem;
}
.cars li {
  color: #fff;
}
.cars a {
  text-decoration: none;
}

.destack h2 {
  color: #999;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.destack h5 {
  font-size: 1.2rem;
}
.destack img {
  width: 100%;
  height: 100%;
}
.destack span {
  font-size: 3rem;
  color: #fff;
}
.destack p {
  font-size: 2rem;
  color: #fff;
}
.destack .destack-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/audi-md.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 0;
  padding-top: 56.3%;
}

@media screen and (max-width: 600px) {
  .destack span {
    font-size: 2rem;
  }
  .destack p {
    font-size: 1.5rem;
  }
  .destack .destack-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url(../images/audi-sm.jpg);
  }
}
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-info h1 {
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}
.header-info .menu-busca {
  width: auto;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header-info .menu-busca .botao-busca {
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center;
  margin-right: 1rem;
}
.header-info .menu-busca .busca-img {
  width: 20px;
  padding-top: 2px;
}
.header-info .menu-busca .menu-hamburguer {
  cursor: pointer;
}
.header-info .menu-busca .menu-img {
  width: 30px;
}

@media screen and (max-width: 425px) {
  .menu-busca {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
