.blocks {
    h2 {
        color: $color-04;
        margin-bottom: 2rem;
    }

    ul {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
    }

    li {
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        width: 30%;
        background-color: $color-04;
        
        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: 100%;
        }
        
        a {
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
        }
    }

    li:nth-child(1){
        margin-left: 0;
    }

    li:last-child{
        margin-right: 0;
    }
}