.blocks {
    h2 {
        color: $color-04;
        margin-bottom: 2rem;
    }

    ul {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        width: 100%;
        flex-wrap: wrap;
    }

    li {
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        width: 30%;
        background-color: $color-04;
        
        .img-container {
            display: block;
            overflow: hidden;
            width: 100%;
        }
        
        a {
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
        }
    }

    li:nth-child(1){
        margin-left: 0;
    }

    li:last-child{
        margin-right: 0;
    }
}


@media (max-width:600px){
    .blocks {
        ul {
            flex-direction: column;
        }
        li {
            width: 100%;
            margin: 0 0 1rem 0;
            height: auto;
        }
    }
}

@media (min-width:601px) {
    .blocks {
        li {
            width: 45%;
            height: 270px;
            .img-container {
                img {
                    height: 190px;
                }
            }
        }
        li:nth-child(2){
            margin-right: 0;
        }
        li:nth-child(3){
            margin-left: 0;
        }
    }
}

@media (min-width:900px) {
    .blocks {
        li {
            width: 30%;
            height: 270px;
            .img-container {
                img {
                    height: 190px;
                }
            }
        }
        li:first-child{
            margin-right: 0;
        }
        li:nth-child(2){
            margin-left: 0;
        }
    }
}
    