@use "sass:math";
@import 'cars';

/* 
    BEM CSS
    - Block
    - Element
    - Modifier

    - Padrão de objeto / Design paterns

    Exemplo : .blocks__title
*/

.blocks {
    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        width: 100%;
        flex-wrap: wrap;
    }

    &__item {
        @extend .cars;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        width: 30%;
        background-color: $color-04;
        
        .img-container {
            display: block;
            overflow: hidden;
            width: 100%;
        }
        
    }
    
    &__button {
        border-radius: 5px;
        display: block;
        font-size: $font-medium;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: math.div(300px, 800px)* 100%;
        padding: 4px 8px;
    }
    li:nth-child(1){
        margin-left: 0;
    }

    li:last-child{
        margin-right: 0;
    }
}


@media (max-width:600px){
    .blocks {
        &__list {
            flex-direction: column;
        }
        &__item {
            width: 100%;
            margin: 0 0 1rem 0;
            height: auto;
        }
    }
}

@media (min-width:601px) {
    .blocks {
        &__item {
            width: 45%;
            height: 270px;
            .img-container {
                img {
                    height: 190px;
                }
            }
        }
        &__item:nth-child(2){
            margin-right: 0;
        }
        &__item:nth-child(3){
            margin-left: 0;
        }
    }
}

@media (min-width:900px) {
    .blocks {
        &__item {
            width: 30%;
            height: 270px;
            .img-container {
                img {
                    height: 190px;
                }
            }
        }
        &__item:first-child{
            margin-right: 0;
        }
        &__item:nth-child(2){
            margin-left: 0;
        }
    }
}
    