body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
    background-color: $bg-color;
}

header {
    margin: 0 auto;
    max-width: 1200px;
}

p {
    color: $color-04;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header,
footer {
    background-color: $bg-color;
}

footer {
    padding-bottom: 0;
    p {
        color: $color-01;
        text-align: center;
    }
}