/* Exemplo de mixin
 @mixin teste ($color:blue, $x:50%, $y:50%){
    background: {
        color: $color;
        position: $x $y;
    }
}
body {
    @include teste($color: red, $x:40%, $y:40%);
}
 */

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
    background-color: $bg-color;
}

header {
    margin: 0 auto;
    max-width: 1200px;
}

p {
    color: $color-04;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h2 {
    color: $color-02;
    font-size: $font-big;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header,
footer {
    background-color: $bg-color;
}

footer {
    padding-bottom: 0;
    p {
        color: $color-01;
        text-align: center;
    }
}

@media (max-width:600px) {
    footer {
        p {
            font-size: $font-small;
        }
    }
}

@media (min-width:601px){
    footer {
        p {
            font-size: $font-medium;
        }
    }
}

@media screen and (max-width: 1200px) {
    body {
        margin: 0 3rem;
    }
}