
.destack {
    h2 {
        color: $color-02;
        font-size: $font-big;
        margin-bottom: 2rem;
    }
    h5 {
        font-size: $font-small;
    }
    img {
        width: 100%;
    }
    span {
        font-size: $font-big;
        color: $color-01
    }
    p {
        font-size: 2rem;
        color: $color-01;
    }

    .destack-about {
        background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../images/pexels-mike-244206.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 65rem;
    }
}
