.header-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info {
    h1 {
        color: $color-01;
        font-size: 5rem;
        font-weight: 700;
    }
    
    .menu-busca{
        .botao-busca{
            cursor: pointer;
        }

        .busca-img{
            width: 15px;
        }

        .menu-hamburguer{
            cursor: pointer;
        }

        .menu-img {
            width: 30px;
        }
    }

}

.menu-busca {
    width: 7%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}